**Exercise 1: Print First 10 natural numbers using while
loop**

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

**Exercise 2: Print the following pattern**

In [ ]:
n = 5
for i in range(1, n+1):
  for e in range(1, i+1):
    print(e, end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Exercise 3: Calculate the sum of all numbers from 1 to
a given number**

In [ ]:
sum = 0
num = int(input("Enter number "))

for i in range(1, num+1):
    sum = sum + i
print("Sum is: ", sum)

Enter number 10
Sum is:  55

**Exercise 4: Write a program to print multiplication
table of a given number**

In [ ]:
n = int(input("Enter number: "))
for i in range(1,11):
   print(n*i)

Enter number: 2
2
4
6
8
10
12
14
16
18
20

**Exercise 5: Display numbers from a list using loop**

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  if i > 500:
    break
  elif i > 150:
    continue
  elif i % 5 == 0:
    print(i)

75
150
145

**Exercise 6: Count the total number of digits in a
number**

In [ ]:
num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

**Exercise 7: Print the following pattern**

In [ ]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

**Exercise 8: Print list in reverse order using a loop**

In [ ]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
for i in list1:
  print(i)

50
40
30
20
10

**Exercise 9: Display numbers from -10 to -1 using for
loop**

In [ ]:
for i in range (-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**Exercise 10: Use else block to display a message
“Done” after successful execution of for loop**

In [ ]:
for i in range(5):
 print(i)
else:
  print("Done!")

0
1
2
3
4
Done!

**Exercise 11: Write a program to display all prime
numbers within a range**

In [ ]:
start = 25
end = 50

print("Prime numbers between" ,start, "and", end, "are:")

for i in range(start, end + 1):
    if i > 1:
        for e in range(2, i):
            if (i % e) == 0:
                break
        else:
            print(i)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

**Exercise 12: Display Fibonacci series up to 10 terms**

In [ ]:
x = 0
y = 1

print("Fibonacci Sequence: ")

for i in range(10):
  print(x , end = " ")
  r = x + y
  x = y
  y = r

Fibonacci Sequence:
0 1 1 2 3 5 8 13 21 34

**Exercise 13: Find the factorial of a given number**

In [ ]:
x = 5
y = 1

for i in range(1, x + 1):
     y = y * i
print("The factorial of", x, "is", y)

The factorial of 5 is 120

**Exercise 14: Reverse a given integer number**

In [ ]:
x = 76542
y = 0

while x > 0:
    r = x % 10
    y = (y * 10) + r
    x = x // 10
print(y)

24567

**Exercise 15: Use a loop to display elements from a given list present at odd index positions**

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

**Exercise 16: Calculate the cube of all numbers from 1 to a given number**

In [ ]:
x = 6
for i in range(1, x + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

**Exercise 17: Find the sum of the series upto n terms**

In [ ]:
n = 5
x = 2
sum = 0
for i in range(0, n):
    sum += x
    x = x * 10 + 2
print(sum)

24690

**Exercise 18: Print the following pattern**

In [ ]:
x = 5
for i in range(0, x):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("")

for i in range(x, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*