**Python Data Structure Exercise**
---

**Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second**

In [1]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
print('Element at odd-index positions from list one: ')
odd = []
for x in l1:
  odd = l1[1::2]
print('\n',odd,'\n')

even = []
print('Element at even-index positions from list two: ')

for i in l2:
  even =l2[0::2]
print('\n',even,'\n')

print('Printing Final third list:')
l3 = odd + even
print('\n',l3,'\n')

Element at odd-index positions from list one:

 [6, 12, 18]

Element at even-index positions from list two:

 [4, 12, 20, 28]

Printing Final third list:

 [6, 12, 18, 4, 12, 20, 28]

**Exercise 2: Remove and add item in a list**

In [2]:
list1 = [54, 44, 27, 79, 91, 41]

print('Original list:')
print(list1)

print('\n')

x = list1.pop(4)
print('List After removing element at index 4:')
print(list1)

print('\n')

print('List after Adding element at index 2 ')
list1.insert(2,x)
print(list1)

print('\n')

list1.append(x)
print(list1)

Original list:
[54, 44, 27, 79, 91, 41]


List After removing element at index 4:
[54, 44, 27, 79, 41]


List after Adding element at index 2
[54, 44, 91, 27, 79, 41]


[54, 44, 91, 27, 79, 41, 91]

**Exercise 3: Slice list into 3 equal chunks and reverse each chunk**

In [3]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]


Chunk1 = sample_list[0:3]
print('Chunk 1: ',Chunk1)
Chunk1.reverse()
print('After reversing it: ',Chunk1)

print('\n')

Chunk2 = sample_list[3:6]
print('Chunk 2: ',Chunk2)
Chunk2.reverse()
print('After reversing it: ',Chunk2)

print('\n')

Chunk3 = sample_list[6:]
print('Chunk 3: ',Chunk3)
Chunk3.reverse()
print('After reversing it: ',Chunk3)

Chunk 1:  [11, 45, 8]
After reversing it:  [8, 45, 11]


Chunk 2:  [23, 14, 12]
After reversing it:  [12, 14, 23]


Chunk 3:  [78, 45, 89]
After reversing it:  [89, 45, 78]

In [4]:
#Anathor Answer 

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

c1 = sample_list[0:3]

print('Chunk 1',c1)
rc1 = c1[::-1]
print('After reversing it ', rc1)
print('\n')
c2 = sample_list[3:6]
print('Chunk 2',c2)
rc2 = c2[::-1]
print('After reversing it ',rc2)
print('\n')
c3 = sample_list[6:]
print('Chunk 3',c3)
rc3 = c3[::-1]
print('After reversing it ',rc3)

Chunk 1 [11, 45, 8]
After reversing it  [8, 45, 11]


Chunk 2 [23, 14, 12]
After reversing it  [12, 14, 23]


Chunk 3 [78, 45, 89]
After reversing it  [89, 45, 78]

**Exercise 4: Count the occurrence of each element from a list**

In [5]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
dict = {}
for i in sample_list:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1

print("Printing count of each item  ", dict)

Printing count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

**Exercise 5: Create a Python set such that it shows the element from both lists in a pair**

In [6]:
list1 = [2, 3, 4, 5, 6, 7, 8] 
list2 = [4, 9, 16, 25, 36, 49, 64]

result = zip(list1, list2)
result_set = set(result)
print(result_set)

{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

**Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set**

In [7]:
set1 = {23, 42, 65, 57, 78, 83, 29}
set2 = {57, 83, 29, 67, 73, 43, 48}

set3 = set2 & set1

print('Intersection is: ',set3)
for i in set3:
  set1.remove(i)
print('First Set after removing common element:', set1)

Intersection is:  {57, 83, 29}
First Set after removing common element: {65, 42, 78, 23}

**Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set**

In [8]:
set1 = {27, 43, 34}
set2 = {34, 93, 22, 27, 43, 53, 48}

print('First set is subset of second set - ', set1.issubset(set2))

print('Second set is subset of First set - ', set2.issubset(set1))


print('First set is Super set of second set - ', set1.issuperset(set2))
print('Second set is Super set of First set -', set2.issuperset(set1))

if set1.issubset(set2):
    set1.clear()

if set2.issubset(set1):
    set1.clear()
print('First Set ', set1)
print('Second Set ', set2)

First set is subset of second set -  True
Second set is subset of First set -  False
First set is Super set of second set -  False
Second set is Super set of First set - True
First Set  set()
Second Set  {34, 43, 48, 53, 22, 27, 93}

**Exercise 8: Iterate a given list and check if a given
element exists as a key’s value in a dictionary. If not,
delete it from the list**

In [9]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

for i in roll_number:
  if i in sample_dict.values():
    roll_number.remove(i)
print(roll_number)

[64, 37, 83, 95]

**Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates**

In [10]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53,
'july': 54, 'Aug': 44, 'Sept': 54}

list1 = []

for i in speed.values():
  if i not in list1:
      list1.append(i)
list1

[47, 52, 44, 53, 54]

**Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number**

In [11]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
list1 = []
for i in sample_list:
  if i not in list1:
    list1.append(i)
list1
print('unique items: ',list1 )
print('tuple:', tuple(list1))
print('min: ', min(list1))
print('max: ', max(list1))

unique items:  [87, 45, 41, 65, 94, 99]
tuple: (87, 45, 41, 65, 94, 99)
min:  41
max:  99

**Python List Exercise**
---

In [12]:
list1 = [100, 200, 300, 400, 500]
print(list1[::-1])

[500, 400, 300, 200, 100]

**Exercise 2: Concatenate two lists index-wise**

In [13]:
list1 = ["M", "na", "i", "Ke"]

list2 = ["y", "me", "s", "lly"]

list3 = []

list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

**Exercise 3: Turn every item of a list into its square**

In [14]:
numbers = [1, 2, 3, 4, 5, 6,7]
square = []
for i in numbers:
  a = i * i 
  square.append(a)
square

[1, 4, 9, 16, 25, 36, 49]

**Exercise 4: Concatenate two lists in the following order**

In [15]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = [i + y for i in list1 for y in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

**Exercise 5: Iterate both lists simultaneously**

In [16]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

list2.reverse()

for x, y in zip(list1, list2):
    print(x, y)

10 400
20 300
30 200
40 100

**Exercise 6: Remove empty strings from the list of strings**

In [17]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
  if i =="":
    list1.remove(i)
list1

['Mike', 'Emma', 'Kelly', 'Brad']

**Exercise 7: Add new item to list after a specified item**

In [18]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

**Exercise 8: Extend nested list by adding the sublist**

In [19]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
# sub list to add
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

**Exercise 9: Replace list’s item with new value if found**

In [20]:
list1 = [5, 10, 15, 20, 25, 50, 20]

# get the first occurrence index
x = list1.index(20)

# update item present at location
list1[x] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

**Exercise 10: Remove all occurrences of a specific item from a list.**

In [21]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
  if i == 20:
    list1.remove(i)
list1

[5, 15, 25, 50]

**Python String Exercise**
---

**Exercise 1A: Create a string made of the first, middle and last character**

In [22]:
str1 = "James"

print(str1[::2])

Jms

**Exercise 1B: Create a string made of the middle three characters**

In [23]:
str1 = "JhonDipPeta"

mi = int(len(str1) / 2)

res = str1[mi - 1:mi + 2]
print("JhonDipPeta: Middle three chars are:", res)

str2 = "JaSonAy"
mi = int(len(str2) / 2)

res = str2[mi - 1:mi + 2]
print("JaSonAy: Middle three chars are:", res)

JhonDipPeta: Middle three chars are: Dip
JaSonAy: Middle three chars are: Son

**Exercise 2: Append new string in the middle of a given string**

In [24]:
s1 = "Ault"
s2 = "Kelly"

x = int(len(s1)/2)
y = s1[:x:]
y = y + s2 
y = y + s1[x:]
y

'AuKellylt'

**Exercise 3: Create a new string made of the first, middle, and last characters of each input string**

In [25]:
s1 = "America"
s2 = "Japan"

x = int(len(s1)/2)
z = int(len(s2)/2)
y = s1[:1]
y = y + s2[:1]
y = y + s1[x]
y = y + s2[z:]
print(y)

#AJrpan

AJrpan

**Exercise 4: Arrange string characters such that lowercase letters should come first**

In [26]:
str1 = "PYnAtivE"

l1 = []
l2 = []
for i in str1:
  if i.islower():
    l1.append(i)
  else:
    l2.append(i)

y = ''.join(l1 + l2)
print(y)

ntivPYAE

**Exercise 5: Count all letters, digits, and special symbols from a given string**

In [27]:
str1 = "P@#yn26at^&i5ve"

l1 = []
l2 = []
l3 = []
for i in str1:
  if i.isdigit():
    l1.append(i)
  elif i.isalpha():
    l2.append(i)
  else:
    l3.append(i)
    

y = ''.join(l1) ; Digits = len (y) ; print('Digits = ', Digits)

y = ''.join(l2) ; Chars = len (y) ; print('Chars = ', Chars)

y = ''.join(l3) ; Symbol  = len (y) ; print('Symbol = ', Symbol )

Digits =  3
Chars =  8
Symbol =  4

**Exercise 6: Create a mixed String using the following rules**

In [28]:
s1 = "Abc"
s2 = "Xyz"
s2 = s2[::-1]
l1 = []
l2 = []

for i in s1:
  l1.append(i)
for i in s2:
  l2.append(i)
s3 = [i + y for i, y in zip(l1,l2)]
s3 = ''.join(s3)
s3

'AzbycX'

**Exercise 7: String characters balance Test**

In [29]:
s1 = "Yn"
s2 = "PYnative"

Test = True 

for i in s1:
  if i in s2:
    continue
  else:
    Test = False
print(Test)

s1 = "Ynf"
s2 = "PYnative"

Test = True 

for i in s1:
  if i in s2:
    continue
  else:
    Test = False
print(Test)

True
False

**Exercise 8: Find all occurrences of a substring in a given string by ignoring the case**

In [30]:
str1 = "Welcome to USA. usa awesome, isn't it?"

str1 = str1.lower()

cont = str1.count('usa')

print("The USA count is:", cont)

The USA count is: 2

**Exercise 9: Calculate the sum and average of the digits present in a string**

In [31]:
from sys import argv
str1 = "PYnative29@#8496"
l1 = []
for i in str1:
  if i.isdigit():
   l1.append(int(i))
x =sum(l1)
y =len(l1)
average = x / y 


print('Sum is:',x,'Average is:',average)

Sum is: 38 Average is: 6.333333333333333

**Exercise 10: Write a program to count occurrences of all characters within a string**

In [32]:
str1 = "Apple"
dic = {}
x = []
for i in str1:
  x.append(str1.count(i))
  for y in x:
    dic[i] = y
print(dic)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

**Exercise 11: Reverse a given string**

In [33]:
str1 = "PYnative"

str1 = str1[::-1]

str1

'evitanYP'

**Exercise 12: Find the last position of a given substring**

In [34]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
x = str1.rfind('Emma')

print('Last occurrence of Emma starts at index',x)

Last occurrence of Emma starts at index 43

**Exercise 13: Split a string on hyphens**

In [35]:
str1 = 'Emma-is-a-data-scientist'
str2 = str1.split('-')
print('Displaying each substring: ')
print('\n')
for i in str2:
  print('\n',i)

Displaying each substring:



 Emma

 is

 a

 data

 scientist

**Exercise 14: Remove empty strings from a list of strings**

In [36]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

res_list = []

for i in str_list:
    if i:
        res_list.append(i)
print('Original list of sting: ')
print(str_list)

print('\n')

print('After removing empty strings')

print(res_list)

Original list of sting:
['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']


After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

**Exercise 15: Remove special symbols / punctuation from a string**

In [37]:
str1 = "/*Jon is @developer & musician"
x = []

# I can't solve it.

**Exercise 16: Removal all characters from a string except integers**

In [38]:
str1 = 'I am 25 years and 10 months old'
str2 = ''
for i in str1:
  if i.isdigit():
      str2 += i
print(str2)

2510

**Exercise 17: Find words with both alphabets and numbers**

In [39]:
str1 = "Emma25 is Data scientist50 and AI Expert"
y = str1.split()
x = []

for i in y:
    if any(char.isalpha() for char in i) and any(char.isdigit() for char in i):
        x.append(i)

for i in x:
    print(i)

Emma25
scientist50

**Exercise 18: Replace each special symbol with # in the following string**

In [40]:
str1 = '/*Jon is @developer & musician!!'
# I can't solve it.

**Python Tuple Exercise**
---

**Exercise 1: Reverse the tuple**

In [41]:
tuple1 = (10, 20, 30, 40, 50)

tuple1 = tuple1[::-1]
tuple1

(50, 40, 30, 20, 10)

**Exercise 2: Access value 20 from the tuple**

In [42]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

print(tuple1[1][1])

20

**Exercise 3: Create a tuple with single item 50**

In [43]:
tuple1= (50, )
print(tuple1)

(50,)

**Exercise 4: Unpack the tuple into 4 variables**

In [44]:
tuple1 = (10, 20, 30, 40)
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

**Exercise 5: Swap two tuples in Python**

In [45]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

**Exercise 6: Copy specific elements from one tuple to a new tuple**

In [46]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
tuple2

(44, 55)

**Exercise 7: Modify the tuple**

In [47]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0] = 222 

tuple1

(11, [222, 33], 44, 55)

**Exercise 8: Sort a tuple of tuples by 2nd item**

In [48]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))


tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

**Exercise 9: Counts the number of occurrences of item
50 from a tuple**

In [49]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

**Exercise 10: Check if all items in the tuple are the same**

In [50]:
tuple1 = (45, 45, 45, 45)

def check(t):
    return all(i == t[0] for i in t)


print(check(tuple1))

True

**Python Set Exercise**
---

**Exercise 1: Add a list of elements to a set**

In [51]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

for i in sample_list:
  sample_set.add(i)
  
print(sample_set)

{'Orange', 'Black', 'Red', 'Green', 'Blue', 'Yellow'}

In [52]:
#Another Answer
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)

print(sample_set)

{'Orange', 'Black', 'Red', 'Green', 'Blue', 'Yellow'}

**Exercise 2: Return a new set of identical items from two sets**

In [53]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 = set1 & set2 

print(set3)

{40, 50, 30}

**Exercise 3: Get Only unique items from two sets**

In [54]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 = set1 | set2

print(set3)

{70, 40, 10, 50, 20, 60, 30}

**Exercise 4: Update the first set with items that don’t exist in the second set**

In [55]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1 = set1 - set2

print('set1 ', set1)

set1  {10, 30}

**Exercise 5: Remove items from the set at once**

In [56]:
set1 = {10, 20, 30, 40, 50}

for i in range(10,40):
  if i in set1:
    set1.remove(i)
set1

{40, 50}

In [57]:
#Another Anwer

set1 = {10, 20, 30, 40, 50}
set1 = set1 - {10,20,30}
print(set1)

{40, 50}

**Exercise 6: Return a set of elements present in Set A or B, but not both**

In [58]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set3 = set1 ^ set2
set3

{10, 20, 60, 70}

**Exercise 7: Check if two sets have any elements in common. If yes, display the common elements**

In [59]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

**Exercise 8: Update set1 by adding items from set2, except common items**

In [60]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1 = set1 ^ set2
set1

{10, 20, 60, 70}

**Exercise 9: Remove items from set1 that are not common to both set1 and set2**

In [61]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1 = set1 & set2
set1

{30, 40, 50}

**Python Dictionary Exercise**
 ---

**Exercise 1: Convert two lists into a dictionary**

In [62]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dicstudent={}
for key in keys:
    for value in values:
        dicstudent[key] = value
        values.remove(value)
        break
print(dicstudent)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Exercise 2: Merge two Python dictionaries into one**

In [63]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {}
dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Exercise 3: Print the value of key ‘history’ from the below dict**

In [64]:
sampleDict = { "class": { "student": { "name": "Mike", "marks": {"physics": 70, "history": 80}}}}

print(sampleDict['class']['student']['marks']['history'])

80

**Exercise 4: Initialize dictionary with default values**

In [65]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}


x = dict.fromkeys(employees, defaults)
print(x)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

**Exercise 5: Create a dictionary by extracting the keys from a given dictionary**

In [66]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

newdict = {} # Create a dictionary 
for x in keys:
  newdict[x] = sample_dict[x]
newdict

{'name': 'Kelly', 'salary': 8000}

**Exercise 6: Delete a list of keys from a dictionary**

In [67]:
sample_dict = {
 "name": "Kelly",
 "age": 25,
 "salary": 8000,
 "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

for x in keys:
  sample_dict.pop(x)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [68]:
# Another answer 
sample_dict = {
 "name": "Kelly",
 "age": 25,
 "salary": 8000,
 "city": "New york"
}
# Keys to remove
keys = ["name", "salary"]

for x in keys:
  del sample_dict[x]
sample_dict

{'age': 25, 'city': 'New york'}

**Exercise 7: Check if a value exists in a dictionary**

In [69]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

value = 200

if value in sample_dict.values():
  print("200 present in a dict")

200 present in a dict

**Exercise 8: Rename key of a dictionary**

In [70]:
sample_dict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
sample_dict

{'age': 25, 'location': 'New york', 'name': 'Kelly', 'salary': 8000}

**Exercise 9: Get the key of a minimum value from the following dictionary**

In [71]:
sample_dict = {
 'Physics': 82,
 'Math': 65,
 'history': 75
}

#print(' Min value: ',min(sample_dict.values()))
minkey = min(sample_dict)
print('Min Key: ',minkey)

Min Key:  Math

**Exercise 10: Change value of a key in a nested dictionary**

In [72]:
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict ['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}