**Exercise 1: Create a function in Python**

In [ ]:
def student(name,age):
  print(name,age)

student("Abbas Aboukura", 24)

Abbas Aboukura 24

**Exercise 2: Create a function with variable length of
arguments**

In [ ]:
def func1(*val):
  print("Printing values")
  for i in val:
    print(i)

func1(20, 40, 60)
func1(80, 100)

Printing values
20
40
60
Printing values
80
100

**Exercise 3: Return multiple values from a function**

In [ ]:
def calculation(a, b):
    x = a + b #addition
    y = a - b #subtraction
    return x, y
res = calculation(40, 10)
print(res)

(50, 30)

**Exercise 4: Create a function with default argument**

In [ ]:
def showEmployee(name,salary = "9000"):
    print("Name:", name, "Salary:", salary)

showEmployee("Ben", 12000)
showEmployee("Jessa")

Name: Ben Salary: 12000
Name: Jessa Salary: 9000

**Exercise 5: Create an inner function to calculate the
addition in the following way**

In [ ]:
def outer(a,b):
    def inner(a,b):
        return a + b

    return inner(a, b) + 5


print(outer(5, 10))

20

**Exercise 6: Create a recursive function**

In [ ]:
def addition(num):
    if num:
        # call same function by reducing number by 1
        return num + addition(num - 1)
    else:
        return 0

res = addition(10)
print(res)

55

**Exercise 7: Assign a different name to function and call
it through the new name**

In [ ]:
def display_student(name, age):

    print(name, age)

display_student("Emma", 26)

show_student= display_student

show_student("Emma", 26)

Emma 26
Emma 26

**Exercise 8: Generate a Python list of all the even
numbers between 4 to 30**

In [ ]:
print(list(range(4, 30, 2))) # --> Anwser 1

print(" ", end= "\n")


def num(x): # --> Anwser 2 
    y = []
    for n in x:
        if n % 2 == 0:
            y.append(n)
    return y
print(num(range(4,30)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

**Exercise 9: Find the largest item from a given list**

In [ ]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24